.header{
    position: fixed;
    background: rgb(38, 165, 187);
    width: 100%;
    color: #fff;
    text-align: left;
    padding: 10px;
    z-index: 1001;
}

.header a {
    color: #fff;
    text-decoration: none;
}

.options{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.cart img{
    width:30px;
    height: 30px;
    cursor: pointer;
}
