#notificationPopUp{
    position: fixed;
    bottom: 2%;
    right: 0%;
    height: 100px;
    width: 400px;

    border-radius: 25px;
    background-color: whitesmoke;
    font-size: 10px;
    z-index: 1000;
}

#notificationPopUp h1{
    text-align: center;
}