<!--first div is the gray background to be unable to click other things-->
<div *ngIf="isPopupVisible" class="first-div">
  <!--second div is the popUp who must show up when click-->
  <div class="pop-up">
    <div id="header">
      <div></div>
      <h1 > Comanda ta</h1>
      <button (click)="onClose(isPopupVisible)" class="closeBtn">X</button>
    </div>
    <div id="cart-table">
      <table style="width:100%;">
        <tr>
          <th>Nr. ordin</th>
          <th>Pizza</th>
          <th>Marimea</th>
          <th>Cantitate</th>
          <th>Pret</th>
          <th></th>
        </tr>
        <tr *ngFor="let product of productsCart; let i = index" [attr.data-index]="i">
          <td>{{i+1}}</td>
          <td>{{product.productName}}</td>
          <td>{{product.productType}}</td>
          <td>{{product.productQuantity}}</td>
          <td>{{product.productPrice.toFixed(2)}}</td>
          <td><button (click)="deleteProduct(product)" class="deleteBtn">X</button></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>TOTAL:</td>
          <td>{{totalPrice}} lei</td>
        </tr>
      </table>
    </div>
    <div style="display:flex; justify-content:center;">
      <button (click)="onClose(isPopupVisible)">Continua cumparaturile!</button>
      <button (click)="onCommand()" *ngIf="totalPrice>0"> Comanda!</button>
    </div>
  </div>
</div>
