<!--first div is the gray background to be unable to click other things-->
<div *ngIf='isPopupVisible' class='first-div'>
  <!--second div is the popUp who must show up when click-->
  <div class='pop-up'>
    <dx-data-grid  id='gridContainer' [dataSource]='productsCart' [showBorders]='true' width='100%' height="80%" (onToolbarPreparing)='onToolbarPreparing($event)'>
      <dxo-load-panel [enabled]="true"></dxo-load-panel>
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-sorting mode="none"></dxo-sorting>
      <dxo-editing mode='cell' [allowUpdating]='true' [allowDeleting]="true"> </dxo-editing>
      <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

      <!-- <ng-template> -->
      <dxi-column caption='Nr.' dataType='number' [allowEditing]='false' [calculateCellValue]='indexOfProduct' width='50'></dxi-column>
      <dxi-column dataField='name' caption='Produs' [allowEditing]='false'></dxi-column>
      <dxi-column dataField='type' caption='Marimea' [allowEditing]='false' [width]='100'></dxi-column>
      <dxi-column dataField='quantity' caption='Cantitate' dataType='number' [width]='100'>
          <dxi-validation-rule type="range" [min]="1" [max]="20" message="Poti comanda doar intre 1-20 de pizze"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField='price' caption='Pret' dataType='number' [allowEditing]='false' [calculateCellValue]='calculatePrice'
        width='140'></dxi-column>

      <dxo-summary>
        <dxi-total-item column='Pret' summaryType='sum' displayFormat='Total: {0} lei'></dxi-total-item>
      </dxo-summary>

    </dx-data-grid>

    <div class="buttons">
      <dx-button (click)="onContinue(isPopupVisible)" stylingMode="contained" type="normal" text="Continua"></dx-button>
      <dx-button (click)="onOrder()" stylingMode="contained" type="normal" text="Cumpara"></dx-button>
    </div>
  </div>
</div>